<a href="https://colab.research.google.com/github/LUMC/EfDS_RelDB_SQL/blob/main/orm_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Object Relational Mapper

## Goals

The overall goal of this session is to learn how to provide an object oriented interface to a database.  
Since this is a complex task, specialized libraries help to provide such functionality.  
Here, we will use a part of the `SQLAlchemy` library called [Object Relational Mapper](https://docs.sqlalchemy.org/en/14/orm/index.html) (ORM).

This lecture describes a growing code and is intended to be followed sequentially. Subsequent steps have the following goals:
- Create a class corresponding to a single database table (relations are ignored).
- Understand the concepts of engine, session, transaction, commit, rollback.
- Query the database and get results as objects representing rows. Build simple and more complex queries.
- Extend the class with a method for nicer content printing.
- Create another class for another database table. Learn how do declare foreign keys and add methods representing relations.
- Add new content to the database. Commit. Show the newly added content.

*Note:* [The PYSheet cheatsheet](https://www.pythonsheets.com/notes/python-sqlalchemy.html) is useful once you understand the basic SQLAlchemy and Object Relational Mapper concepts.

Below there is (again) the diagram from [the SQLite Tutorial](https://www.sqlitetutorial.net) of the `chinook` database.

![chinook scheme](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)

We will implement classes providing access to a small part of the database:
- We want classes `Album` (a row of the table `albums`) or `Track` (a row of the table `tracks`).
- The class `Album` should have a field like `title`.
- The class `Album` should have a method `tracks` which returns respective `Track` objects for "the current" `Album` object.
- When a field is changed, the database should get updated.

## Preparation


The following tools/sources will be used and they need to get installed:
- `chinook.db` is the database (a file in `SQLite` database format)
- `SQLAlchemy` is the Python library which:
    - provides unified SQL access to databases of many formats, including `SQLite`
    - provides Object Relational Mapper functionality

### Download of the database

The following lines download a compressed file `chinook.zip` and unpack it leading to a SQLite database file `chinook.db`.  
*Note:* In this session we will modify the database, so the database file will change and some examples may not work anymore. In that case, you can download the database again.

In [1]:
import urllib.request    # needed for download of the example database
import shutil            # needed for unziping of the example database
import os                # for removing a file

# urllib.request.urlretrieve("https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip", "chinook.zip")
shutil.unpack_archive("chinook.zip")
# os.remove("chinook.zip")

### SQLAlchemy toolkit

The demonstrations will use multiple functions and classes of the SQLAlchemy library.

In [2]:
import sqlalchemy as sa
import sqlalchemy.orm as orm

### Database connection and transaction

When using the SQLAlchemy library, the following objects are used to interact with the database. 
- `engine`: Provides a main connection to a database.
- `session`: A newly created transaction. Database changes executed through this object will only get written at the end of the block when the transaction is committed. If the transaction is rolled back, all the changes are discarded.

In [4]:
engine = sa.create_engine("sqlite:///chinook.db",echo=False)
with orm.Session(engine) as session:
    # query or modify the database through the session object
    pass
    # when modifying the database, commit or rollback the changes introduced in the block

## Class describing a table

This is a code pattern to describe a (row of a) single table in the database.  
This step is independent on the database (does not load the table column names/types from the database).  
This code needs to be adjusted for each table which is going to be created or modified.

Let's study the following description referring to the table `albums` from the `chinook` database:
- `Base`: This object normally is created once and it internally stores all information about the structure of the database. (*Note:* In this notebook we will recreate this object multiple times to allow changes in descriptions of the tables.)
- `Album`: This is a newly created class and it will conceptually represent a single row of the table.
- `__tablename__`: This field defines the name of the table as in the database.
- `AlbumId`: This is a name of a `Column` as in the database. Moreover, it specifies that the column keeps `Integer` numbers, and that the column belogs to the `primary_key` of this table.
- `Title`: As above, but the column keeps texts (`String` of max. 160 characters).

For more info check: [Column and Data Types](https://docs.sqlalchemy.org/en/14/core/type_basics.html).

In [5]:
Base = orm.declarative_base()

class Album(Base):
  __tablename__ = "albums"
  
  AlbumId = sa.Column(sa.Integer,primary_key=True)
  Title = sa.Column(sa.String(160))
  ArtistId = sa.Column(sa.Integer)
  # test1 = sa.Column(sa.Integer)

## Getting table rows as objects

The SQLAlchemy library provides functionality to automatically build SQL queries, execute them, and convert the results to objects of the declared tables. Study the examples below...

### SQL query is built by the library

The `session` object provides a function `query`. The arguments of this function define which table is to be asked for. Observe, how `session.query(Album)` builds automatically the SQL query based on the table description provided in the `Album` class:

In [6]:
with orm.Session(engine) as session:
    print( session.query(Album) )
    session.query(Album)

SELECT albums."AlbumId" AS "albums_AlbumId", albums."Title" AS "albums_Title", albums."ArtistId" AS "albums_ArtistId"
FROM albums

Using additionally the `limit` function we can obtain an SQL query referring to a few rows only:

In [30]:
with orm.Session(engine) as session:
    print( session.query(Album).limit(3) )

SELECT albums."AlbumId" AS "albums_AlbumId", albums."Title" AS "albums_Title", albums."ArtistId" AS "albums_ArtistId", albums.test1 AS albums_test1
FROM albums
 LIMIT ? OFFSET ?

Or, using the `filter` function we may generate SQL `where` clauses to select rows:

In [6]:
with orm.Session(engine) as session:
    print( session.query(Album).filter(Album.AlbumId == 5) )

SELECT albums."AlbumId" AS "albums_AlbumId", albums."Title" AS "albums_Title", albums."ArtistId" AS "albums_ArtistId"
FROM albums
WHERE albums."AlbumId" = ?

### Getting a single object

We know that `AlbumId` is the primary key of the `albums` table. So, there should be just one row for an album with (for example) `AlbumId` of `5`.  
The following code will run the SQL query and produce the `one` corresponding `Album` object:

In [8]:
with orm.Session(engine) as session:
    a = session.query(Album).filter(Album.AlbumId == 5).all()
    print(type(a))
    print(a)

# print(a)                   # the object a may be invalid once the session is closed

<class 'list'>
[Album(AlbumId='5', Title='Big Ones', ArtistId='3')]

You can see that indeed an object of the class `Album` was produced, although its content are not shown (will be discussed next). Note though, that the values from the table columns can be accessed conveniently as the class fields:

In [ ]:
with orm.Session(engine) as session:
    a = session.query(Album).filter(Album.AlbumId == 5).one()
    print(a.AlbumId)
    print(a.Title)

### Nice printing of object fields

Redefine the `Album` object a add a method `__repr__`. This is a function used to get the text representation of an object when it gets `print`ed:

In [7]:
Base = orm.declarative_base() # normally present once in a script!

class Album(Base):
  __tablename__ = "albums"
  
  AlbumId = sa.Column(sa.Integer,primary_key=True)
  Title = sa.Column(sa.String(160))
  ArtistId = sa.Column(sa.Integer)

  def __repr__(self):
    return "Album(AlbumId='%s', Title='%s', ArtistId='%s')" % (self.AlbumId, self.Title, self.ArtistId)

Let's again get the object and print it:

In [9]:
with orm.Session(engine) as session:
    a = session.query(Album).filter(Album.AlbumId == 5).one()
    b = session.query(Album.Title).filter().limit(None).all()
    print(a)
    print(b)

Album(AlbumId='5', Title='Big Ones', ArtistId='3')
[('For Those About To Rock We Salute You',), ('Balls to the Wall',), ('Restless and Wild',), ('Let There Be Rock',), ('Big Ones',), ('Jagged Little Pill',), ('Facelift',), ('Warner 25 Anos',), ('Plays Metallica By Four Cellos',), ('Audioslave',), ('Out Of Exile',), ('BackBeat Soundtrack',), ('The Best Of Billy Cobham',), ('Alcohol Fueled Brewtality Live! [Disc 1]',), ('Alcohol Fueled Brewtality Live! [Disc 2]',), ('Black Sabbath',), ('Black Sabbath Vol. 4 (Remaster)',), ('Body Count',), ('Chemical Wedding',), ('The Best Of Buddy Guy - The Millenium Collection',), ('Prenda Minha',), ('Sozinho Remix Ao Vivo',), ('Minha Historia',), ('Afrociberdelia',), ('Da Lama Ao Caos',), ('Acústico MTV [Live]',), ('Cidade Negra - Hits',), ('Na Pista',), ('Axé Bahia 2001',), ('BBC Sessions [Disc 1] [Live]',), ('Bongo Fury',), ('Carnaval 2001',), ('Chill: Brazil (Disc 1)',), ('Chill: Brazil (Disc 2)',), ('Garage Inc. (Disc 1)',), ('Greatest Hits II',), ('Greatest Kiss',), ('Heart of the Night',), ('International Superhits',), ('Into The Light',), ('Meus Momentos',), ('Minha História',), ('MK III The Final Concerts [Disc 1]',), ('Physical Graffiti [Disc 1]',), ('Sambas De Enredo 2001',), ('Supernatural',), ('The Best of Ed Motta',), ('The Essential Miles Davis [Disc 1]',), ('The Essential Miles Davis [Disc 2]',), ('The Final Concerts (Disc 2)',), ("Up An' Atom",), ('Vinícius De Moraes - Sem Limite',), ('Vozes do MPB',), ('Chronicle, Vol. 1',), ('Chronicle, Vol. 2',), ('Cássia Eller - Coleção Sem Limite [Disc 2]',), ('Cássia Eller - Sem Limite [Disc 1]',), ('Come Taste The Band',), ('Deep Purple In Rock',), ('Fireball',), ("Knocking at Your Back Door: The Best Of Deep Purple in the 80's",), ('Machine Head',), ('Purpendicular',), ('Slaves And Masters',), ('Stormbringer',), ('The Battle Rages On',), ("Vault: Def Leppard's Greatest Hits",), ('Outbreak',), ('Djavan Ao Vivo - Vol. 02',), ('Djavan Ao Vivo - Vol. 1',), ('Elis Regina-Minha História',), ('The Cream Of Clapton',), ('Unplugged',), ('Album Of The Year',), ('Angel Dust',), ('King For A Day Fool For A Lifetime',), ('The Real Thing',), ('Deixa Entrar',), ('In Your Honor [Disc 1]',), ('In Your Honor [Disc 2]',), ('One By One',), ('The Colour And The Shape',), ('My Way: The Best Of Frank Sinatra [Disc 1]',), ('Roda De Funk',), ('As Canções de Eu Tu Eles',), ('Quanta Gente Veio Ver (Live)',), ('Quanta Gente Veio ver--Bônus De Carnaval',), ('Faceless',), ('American Idiot',), ('Appetite for Destruction',), ('Use Your Illusion I',), ('Use Your Illusion II',), ('Blue Moods',), ('A Matter of Life and Death',), ('A Real Dead One',), ('A Real Live One',), ('Brave New World',), ('Dance Of Death',), ('Fear Of The Dark',), ('Iron Maiden',), ('Killers',), ('Live After Death',), ('Live At Donington 1992 (Disc 1)',), ('Live At Donington 1992 (Disc 2)',), ('No Prayer For The Dying',), ('Piece Of Mind',), ('Powerslave',), ('Rock In Rio [CD1]',), ('Rock In Rio [CD2]',), ('Seventh Son of a Seventh Son',), ('Somewhere in Time',), ('The Number of The Beast',), ('The X Factor',), ('Virtual XI',), ('Sex Machine',), ('Emergency On Planet Earth',), ('Synkronized',), ('The Return Of The Space Cowboy',), ('Get Born',), ('Are You Experienced?',), ('Surfing with the Alien (Remastered)',), ('Jorge Ben Jor 25 Anos',), ('Jota Quest-1995',), ('Cafezinho',), ('Living After Midnight',), ('Unplugged [Live]',), ('BBC Sessions [Disc 2] [Live]',), ('Coda',), ('Houses Of The Holy',), ('In Through The Out Door',), ('IV',), ('Led Zeppelin I',), ('Led Zeppelin II',), ('Led Zeppelin III',), ('Physical Graffiti [Disc 2]',), ('Presence',), ('The Song Remains The Same (Disc 1)',), ('The Song Remains The Same (Disc 2)',), ('A TempestadeTempestade Ou O Livro Dos Dias',), ('Mais Do Mesmo',), ('Greatest Hits',), ('Lulu Santos - RCA 100 Anos De Música - Álbum 01',), ('Lulu Santos - RCA 100 Anos De Música - Álbum 02',), ('Misplaced Childhood',), ('Barulhinho Bom',), ('Seek And Shall Find: More Of The Best (1963-1981)',), ('The Best Of Men At Work',), ('Black Album',), ('Garage Inc. (Disc 2)',), ("Kill 'Em All",), ('Load',), ('Master Of Puppets',), ('ReLoad',), ('Ride The Lightning',), ('St. Anger',), ('...And Justice For All',), ('Miles Ahead',), ('Milton Nascimento Ao Vivo',), ('Minas',), ('Ace Of Spades',), ('Demorou...',), ('Motley Crue Greatest Hits',), ('From The Muddy Banks Of The Wishkah [Live]',), ('Nevermind',), ('Compositores',), ('Olodum',), ('Acústico MTV',), ('Arquivo II',), ('Arquivo Os Paralamas Do Sucesso',), ('Bark at the Moon (Remastered)',), ('Blizzard of Ozz',), ('Diary of a Madman (Remastered)',), ('No More Tears (Remastered)',), ('Tribute',), ('Walking Into Clarksdale',), ('Original Soundtracks 1',), ('The Beast Live',), ('Live On Two Legs [Live]',), ('Pearl Jam',), ('Riot Act',), ('Ten',), ('Vs.',), ('Dark Side Of The Moon',), ('Os Cães Ladram Mas A Caravana Não Pára',), ('Greatest Hits I',), ('News Of The World',), ('Out Of Time',), ('Green',), ('New Adventures In Hi-Fi',), ('The Best Of R.E.M.: The IRS Years',), ('Cesta Básica',), ('Raul Seixas',), ('Blood Sugar Sex Magik',), ('By The Way',), ('Californication',), ('Retrospective I (1974-1980)',), ('Santana - As Years Go By',), ('Santana Live',), ('Maquinarama',), ('O Samba Poconé',), ('Judas 0: B-Sides and Rarities',), ('Rotten Apples: Greatest Hits',), ('A-Sides',), ('Morning Dance',), ('In Step',), ('Core',), ('Mezmerize',), ('[1997] Black Light Syndrome',), ('Live [Disc 1]',), ('Live [Disc 2]',), ('The Singles',), ('Beyond Good And Evil',), ('Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]',), ('The Doors',), ('The Police Greatest Hits',), ('Hot Rocks, 1964-1971 (Disc 1)',), ('No Security',), ('Voodoo Lounge',), ('Tangents',), ('Transmission',), ('My Generation - The Very Best Of The Who',), ('Serie Sem Limite (Disc 1)',), ('Serie Sem Limite (Disc 2)',), ('Acústico',), ('Volume Dois',), ('Battlestar Galactica: The Story So Far',), ('Battlestar Galactica, Season 3',), ('Heroes, Season 1',), ('Lost, Season 3',), ('Lost, Season 1',), ('Lost, Season 2',), ('Achtung Baby',), ("All That You Can't Leave Behind",), ('B-Sides 1980-1990',), ('How To Dismantle An Atomic Bomb',), ('Pop',), ('Rattle And Hum',), ('The Best Of 1980-1990',), ('War',), ('Zooropa',), ('UB40 The Best Of - Volume Two [UK]',), ('Diver Down',), ('The Best Of Van Halen, Vol. I',), ('Van Halen',), ('Van Halen III',), ('Contraband',), ('Vinicius De Moraes',), ('Ao Vivo [IMPORT]',), ('The Office, Season 1',), ('The Office, Season 2',), ('The Office, Season 3',), ('Un-Led-Ed',), ('Battlestar Galactica (Classic), Season 1',), ('Aquaman',), ('Instant Karma: The Amnesty International Campaign to Save Darfur',), ('Speak of the Devil',), ('20th Century Masters - The Millennium Collection: The Best of Scorpions',), ('House of Pain',), ('Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro',), ('Cake: B-Sides and Rarities',), ('LOST, Season 4',), ('Quiet Songs',), ('Muso Ko',), ('Realize',), ('Every Kind of Light',), ('Duos II',), ('Worlds',), ('The Best of Beethoven',), ('Temple of the Dog',), ('Carry On',), ('Revelations',), ('Adorate Deum: Gregorian Chant from the Proper of the Mass',), ('Allegri: Miserere',), ('Pachelbel: Canon & Gigue',), ('Vivaldi: The Four Seasons',), ('Bach: Violin Concertos',), ('Bach: Goldberg Variations',), ('Bach: The Cello Suites',), ('Handel: The Messiah (Highlights)',), ('The World of Classical Favourites',), ('Sir Neville Marriner: A Celebration',), ('Mozart: Wind Concertos',), ('Haydn: Symphonies 99 - 104',), ('Beethoven: Symhonies Nos. 5 & 6',), ('A Soprano Inspired',), ('Great Opera Choruses',), ('Wagner: Favourite Overtures',), ('Fauré: Requiem, Ravel: Pavane & Others',), ('Tchaikovsky: The Nutcracker',), ('The Last Night of the Proms',), ('Puccini: Madama Butterfly - Highlights',), ('Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies',), ("Pavarotti's Opera Made Easy",), ("Great Performances - Barber's Adagio and Other Romantic Favorites for Strings",), ('Carmina Burana',), ('A Copland Celebration, Vol. I',), ('Bach: Toccata & Fugue in D Minor',), ('Prokofiev: Symphony No.1',), ('Scheherazade',), ('Bach: The Brandenburg Concertos',), ('Chopin: Piano Concertos Nos. 1 & 2',), ('Mascagni: Cavalleria Rusticana',), ('Sibelius: Finlandia',), ('Beethoven Piano Sonatas: Moonlight & Pastorale',), ('Great Recordings of the Century - Mahler: Das Lied von der Erde',), ('Elgar: Cello Concerto & Vaughan Williams: Fantasias',), ('Adams, John: The Chairman Dances',), ("Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory",), ('Palestrina: Missa Papae Marcelli & Allegri: Miserere',), ('Prokofiev: Romeo & Juliet',), ('Strauss: Waltzes',), ('Berlioz: Symphonie Fantastique',), ('Bizet: Carmen Highlights',), ('English Renaissance',), ('Handel: Music for the Royal Fireworks (Original Version 1749)',), ('Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande',), ('Mozart Gala: Famous Arias',), ('SCRIABIN: Vers la flamme',), ('Armada: Music from the Courts of England and Spain',), ('Mozart: Symphonies Nos. 40 & 41',), ('Back to Black',), ('Frank',), ('Carried to Dust (Bonus Track Version)',), ("Beethoven: Symphony No. 6 'Pastoral' Etc.",), ('Bartok: Violin & Viola Concertos',), ("Mendelssohn: A Midsummer Night's Dream",), ('Bach: Orchestral Suites Nos. 1 - 4',), ('Charpentier: Divertissements, Airs & Concerts',), ('South American Getaway',), ('Górecki: Symphony No. 3',), ('Purcell: The Fairy Queen',), ('The Ultimate Relexation Album',), ('Purcell: Music for the Queen Mary',), ('Weill: The Seven Deadly Sins',), ('J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro',), ('Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps',), ('Szymanowski: Piano Works, Vol. 1',), ('Nielsen: The Six Symphonies',), ("Great Recordings of the Century: Paganini's 24 Caprices",), ("Liszt - 12 Études D'Execution Transcendante",), ('Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder',), ('Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3',), ('Respighi:Pines of Rome',), ("Schubert: The Late String Quartets & String Quintet (3 CD's)",), ("Monteverdi: L'Orfeo",), ('Mozart: Chamber Music',), ('Koyaanisqatsi (Soundtrack from the Motion Picture)',)]

### Getting many objects (list)

When a query may return any number of objects use the method `.all()` instead of `.one()`. The returned value will be a list with all query results. That elements of the list will be objects representing the table rows:

In [ ]:
with orm.Session(engine) as session:
    albums = session.query(Album).limit(3).all()
    print( type( albums ) )
    print( albums )

Let's consider the first list element in more detail. Check its `type`, print it, and practice access to data from each table column:

In [ ]:
with orm.Session(engine) as session:
    albums = session.query(Album).limit(3).all()

    a = albums[1]
    print( type( a ) )
    print( a )
    print( a.Title )

### Getting many objects (for loop)

The following code might be used to access resulting objects one by one:

In [ ]:
with orm.Session(engine) as session:
  for a in session.query(Album).limit(3):
    print( a )

Or using list comprehension:

In [ ]:
with orm.Session(engine) as session:
    titles = [a.Title for a in session.query(Album).limit(3)]

print( titles ) # list of str objects, safe to use outside of the session block

### Practice



1.   Have a look into [the documentation](https://docs.sqlalchemy.org/en/14/orm/tutorial.html#returning-lists-and-scalars) and understand the functions: `one()`, `first()`, `all()`, `one_or_none()`.
1.   Calculate the number of `Album`s in the database. Construct the query and use the [`count()`](https://docs.sqlalchemy.org/en/14/orm/tutorial.html#counting) function.

In [25]:
with orm.Session(engine) as session:
  cou = session.query(Album).count()
  print(cou)

347

## Another class describing a related table

### Class (partially) describing another table

In [11]:
Base = orm.declarative_base() # normally present once in a script!

class Album(Base):
  __tablename__ = "albums"
  
  AlbumId = sa.Column(sa.Integer,primary_key=True)
  Title = sa.Column(sa.String(160))
  ArtistId = sa.Column(sa.Integer)

  def __repr__(self):
    return "Album(AlbumId='%s', Title='%s', ArtistId='%s')" % (self.AlbumId, self.Title, self.ArtistId)

class Track(Base):
  __tablename__ = "tracks"

  TrackId = sa.Column(sa.Integer,primary_key=True)
  Name = sa.Column(sa.String(200))
  AlbumId = sa.Column(sa.Integer)

  def __repr__(self):
    return "Track(TrackId='%s', Name='%s', AlbumId='%s')" % (self.TrackId, self.Name, self.AlbumId)

### Observing a relation between two tables

Check in the database diagramm:
- an `Album` refers to zero or more tracks
- a `Track` refers to zero or one album (through the `AlbumId` foreign key)

Let's study the `Album` with `AlbumId` of 5:

In [ ]:
with orm.Session(engine) as session:
    a = session.query(Album).filter(Album.AlbumId == 5).one()
    print(a)

These are the `Track`s which refer to this album:

In [14]:
with orm.Session(engine) as session:
  for t in session.query(Track).filter(Track.AlbumId == 5,Track.TrackId==24).all():
    print(t)

Track(TrackId='24', Name='Love In An Elevator', AlbumId='5')

### Generating methods representing relations

From the object oriented programming point of view it would be useful to:
- Have a method `album()` in the class `Track` which returns the `Album` object corresponding to the `AlbumId` of the track.
- Have a method `tracks()` in the class `Album` which returns the list of `Track` objects referring to this album.

To define such a relation the following two changes are needed (look at the code below):
- In the `Track` class:

  the field `AlbumId` gets declared as a `ForeginKey` to `albums.AlbumId` (so a foreign key to the table `albums` where the key is in column `AlbumId`). With `nullable` you can specify whether it is allowed that a `Track` does not refer to any `Album`.
- In the `Album` class:

  the field `tracks` gets declared as a relationship to the class `Track`. In the class `Track` the reverse relationship should be called `album`.

See [relationship patterns](https://docs.sqlalchemy.org/en/14/orm/basic_relationships.html#relationship-patterns) for more details.

In [32]:
Base = orm.declarative_base() # normally present once in a script!

class Album(Base):
  __tablename__ = "albums"
  
  AlbumId = sa.Column(sa.Integer,primary_key=True)
  Title = sa.Column(sa.String(160))
  ArtistId = sa.Column(sa.Integer)
  tracks = orm.relationship("Track", backref="album")                 # <<<< HERE

  def __repr__(self):
    return "Album(AlbumId='%s', Title='%s', ArtistId='%s')" % (self.AlbumId, self.Title, self.ArtistId)

class Track(Base):
  __tablename__ = "tracks"

  TrackId = sa.Column(sa.Integer,primary_key=True)
  Name = sa.Column(sa.String(200))
  AlbumId = sa.Column(sa.ForeignKey('albums.AlbumId'), nullable=True) # <<<< HERE

  def __repr__(self):
    return "Track(TrackId='%s', Name='%s', AlbumId='%s')" % (self.TrackId, self.Name, self.AlbumId)

Let's get an `Album` object `a` now and see the corresponding `Track` objects through the `tracks` method:

In [ ]:
with orm.Session(engine) as session:
    a = session.query(Album).filter(Album.AlbumId == 5).one()
    print(a)
    print(a.tracks)

## Adding objects with new data to database

Let's consider the goal of adding a new `Album` to the database.  
*Note:* (check on the database diagramm) that each album must refer to exactly one artist. So it is impossible to add an album without a proper reference to an artist.  
Consequently, we first need to properly describe the relationship between `albums` and `artists` tables.  
Then, we will choose a random artist and add a new fictional album of that artist.

### Another table, another relationship

The following modifications are made here (try yourself to introduce these modifications without looking into the code below):
- New class `Artist` describing the `artists` table
- The `Album` gets updated to have a proper foreign key to `Artist`
- The `Artist` gets a relationship to `Album` through fields: `Artist.albums` and `Album.artist`.

In [22]:
Base = orm.declarative_base() # normally present once in a script!

class Album(Base):
  __tablename__ = "albums"
  
  AlbumId = sa.Column(sa.Integer,primary_key=True)
  Title = sa.Column(sa.String(160))
  ArtistId = sa.Column(sa.ForeignKey('artists.ArtistId'), nullable=False) # <<<< HERE
  tracks = orm.relationship("Track", backref="album")

  def __repr__(self):
    return "Album(AlbumId='%s', Title='%s', ArtistId='%s')" % (self.AlbumId, self.Title, self.ArtistId)

class Track(Base):
  __tablename__ = "tracks"

  TrackId = sa.Column(sa.Integer,primary_key=True)
  Name = sa.Column(sa.String(200))
  AlbumId = sa.Column(sa.ForeignKey('albums.AlbumId'), nullable=True)

  def __repr__(self):
    return "Track(TrackId='%s', Name='%s', AlbumId='%s')" % (self.TrackId, self.Name, self.AlbumId)

class Artist(Base):
  __tablename__ = "artists"

  ArtistId = sa.Column(sa.Integer,primary_key=True)
  Name = sa.Column(sa.String(120))
  albums = orm.relationship("Album", backref="artist")                  # <<<< HERE

  def __repr__(self):
    return "Artist(ArtistId='%s', Name='%s')" % (self.ArtistId, self.Name)

Let's check the new Artist-Album relationship:

In [ ]:
with orm.Session(engine) as session:
    print( session.query(Artist).count() )        # total number of artists in the database
    print( session.query(Artist).first() )        # first artist
    print( session.query(Artist).first().albums ) # albums of the first artist

### Adding a new object (related to existing data/objects)

The lifetime of the `Session` object defines a transaction.  
When changes to table/row objects are made they are not written immediately.  
They get written when `commit()` method of the `Session` object is called.  
Note, that if multiple session objects exist simultaneously, the data between them are not synchronized.  
Consequently, checking newly added (modified) content after `commit()` cannot be done through another session object which was created before `commit()` was called.

Let's list the `Album`s of Metallica existing in the database:

In [ ]:
with orm.Session(engine) as session:
  artist = session.query(Artist).filter(Artist.Name=="Metallica").one()
  print(artist, "\n") 
  for album in artist.albums: 
    print( album )

Here is an example of adding a new `Album`.  
Note, that the `AlbumId` will get automatically generated and that the `ArtistId` will be automatically collected when `theArtist` is assigned to the `artist` relationship field.  
The changes will get written to the database the moment of `commit()`.

In [ ]:
with orm.Session(engine) as session:
  artist = session.query(Artist).filter(Artist.Name=="Metallica").one()

  newAlbum = Album(Title='Hardwired... to Self-Destruct') # new Album object, only in memory
  newAlbum.artist = artist                                # building relation to theArtist
  print(newAlbum)

  session.add(newAlbum)                                   # staging Album to become written to the database
  session.commit()                                        # writing to the database
  
  print(newAlbum)

Let's check whether the new album has been added:

In [ ]:
with orm.Session(engine) as session:
  artist = session.query(Artist).filter(Artist.Name=="Metallica").one()
  print(artist, "\n") 
  for album in artist.albums: 
    print( album )

## Multistep exercise

The final goal of this session is to build a class providing access to a database.  
This class should provide all needed database content through a well defined interface.  

Follow the points below in the provided order (later points depend on the earlier ones).  
Try to implement each step without checking the solution provided below.  
Try to type. Do not copy-paste.

The solution is suboptimal - the returned objects are not fully independent of the current session and they may provide inconsistent data.

1. Define a new class `Chinook`. This class will contain all methods to access the database. The methods will be added gradually.
1. In the class `Chinook`: 
    - Define the class constructor `__init__(self, url)`.
    - The `url` argument will provide the location of the database as needed by the `create_engine` function.
1. In the class `Chinook`:
    - In the constructor create the engine and store it in the attribute `self._engine`. 
1. Outside the class:
    - Create an object instance of the class `Chinook`. 
    - Use the proper `url` argument (so it uses the `chinook.db` file).
    - Store the new object in the variable `db`.
1. In the class `Chinook`:
    - Define a new method `addArtist(self, name)`. 
    - The method should add a new artist of `name` to the database. 
    - Perform adding within a new local session. 
    - Remember to call `commit` in the session. 
    - The function should return the value of `ArtistId` of the newly added artist.
1. In the class `Chinook`:
    - Define a new method `getArtist(self, artistId)`. 
    - The method should return an `Artist` object for the provided `artistId`.
    - (Returning the `Artist` object is not the best solution because it would exist outside the session; but it is good enough for now.)
1. Outside the class:
    - Recreate the object in `db` with the updated class. 
    - Write the code to `addArtist` with a randomly chosen name.
    - Store the returned `artistId` value in a variable.
    - Check whether you can get the artist back with `getArtist`.
1. In the class `Chinook`:
    - Define a new method `allArtists(self)`.
    - The method should return a list of all `Artist` objects present in the database.
    - (Returning the list of `Artist` objects is not the best solution because it would exist outside the session; but it is good enough for now.)
1. Outside the class:
    - Recreate the object in `db` with the updated class. 
    - Use the result of `db.allArtists()` in a `for` loop to print all artists from the database.
    - Find how to print only the last 10 of the returned objects.
1. Outside the class:
    - In `firstNames` create a vector with several random popular first names.
    - Similar for `surNames`.
    - From package `random` use `choice` method. It randomly selects an element from a list.
    - Create a random name by concatenating a random first name and a random surname from your lists.
    - Insert above into a loop which adds to the database 10 artists with randomly generated names.
    - Print last 10 artists to check whether they were indeed added.

In [23]:
class Chinook:
  def __init__(self, url):
    self._engine = sa.create_engine(url=url,echo=False)

  def addArtist(self, name):
    with orm.Session(self._engine) as session:
      a = Artist(Name=name)
      session.add(a)
      session.commit()
      return a.ArtistId # here a number is returned, no Session object needed

  def getArtist(self, artistId):
    with orm.Session(self._engine) as session:
      a = session.query(Artist).where(Artist.ArtistId == artistId).one()
    return a # this is not safe; the object exists outside the session object; relations will fail

  def allArtists(self):
    with orm.Session(self._engine) as session:
      artists = session.query(Artist).all()
    return artists # this is not safe; the object exists outside the session object; relations will fail

db = Chinook("sqlite:///chinook.db") # this should be used inside "with" context manager
aId = db.addArtist(name="The Singer")
print( "The ArtistId of the new artist is: ", aId)
print( db.getArtist(artistId=aId))

from random import choice

firstNames = [ "John", "Johan", "Jan", "Ivan" ]
lastNames = [ "Smith", "Kowalski", "Kovalsky" ]

for i in range(5):
  n = choice(firstNames) + " " + choice(lastNames)
  db.addArtist(name=n)

for a in db.allArtists()[-8:-1]:
  print(a)

The ArtistId of the new artist is:  276
Artist(ArtistId='276', Name='The Singer')
Artist(ArtistId='274', Name='Nash Ensemble')
Artist(ArtistId='275', Name='Philip Glass Ensemble')
Artist(ArtistId='276', Name='The Singer')
Artist(ArtistId='277', Name='Ivan Kowalski')
Artist(ArtistId='278', Name='Ivan Kowalski')
Artist(ArtistId='279', Name='John Kovalsky')
Artist(ArtistId='280', Name='John Kowalski')